# Core dependencies
opencv-python
numpy
face-recognition
dlib

# API dependencies
fastapi
uvicorn
python-multipart
requests
python-jose[cryptography]
passlib[bcrypt]
python-jose

# Dashboard dependencies
streamlit
pandas
plotly
python-dateutil